Package: ${settings.product}
Version: ${settings.version}
Section: devel
Priority: optional
Architecture: ${platform.mappedCpu}
Depends: libc6
Provides: bit
Replaces: bit
Conflicts: bit
Installed-Size: 10
Maintainer: Embedthis Development <dev@embedthis.com>
Description: Embedthis Ejscript
 Bit is a modern replacement for the autoconf and make utilities. It uses Javascript to describe projects with smart defaults. 
 It then builds directly, or generates makefiles, and IDE projects.
 .
 more information about Embedthis Bit can be found at:
 <URL:http://embedthis.com>
